@font-face {
    font-family: chalk;
    src: url("/staticfiles/fonts/Chalkduster.ttf");
}
@font-face {
    font-family: desyrel;
    src: url('/staticfiles/fonts/MyLuckyPenny.ttf');
}
.fb-like-box {
    background-color: white;
}
* {
    outline: none;
}
p { margin: 5px 0 0 0; }
h1, h2, h3, h4,h5,h6 {
    font-family: chalk, sans-serif;
    margin: 5px 0 5px 0;
}
h1 {
    font-size: 32px;
    font-weight: normal;
}
button::-moz-focus-inner {
  border: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    font-size: 12px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    background: #e5e5e5 url(/staticfiles/images/papate.png);
    margin:0;
}
a {
    color: black;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
    text-decoration: none;
}
a[href^=http] { color: blue; text-shadow: none; }
a.link { color: blue; }
img { border: 0; }
img[href$=wait.gif] {
    vertical-align: middle;
}
.icon {
    background: url(/staticfiles/images/sprites.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
}
span.dislike-icon {background-position: -246px -161px;}
span.ilike-icon {background-position: -263px -161px;}
span.bandcochon-icon {
    background-position: -407px 0px;
    width: 64px;
    height: 61px;
}
span.school-icon {
    background-position: -312px 0;
    width: 65px;
    height: 60px;
}
span.vote-icon {
    background-position: -246px 0;
    width: 66px;
    height: 64px;
}
span.badge-icon {
    background-position: -555px -356px;
    width:56px;
    height:78px;
}
span.cup-icon {
    background-position: -197px -295px;
    width:49px;
    height: 94px;
}
span.largecomment-icon {
    background-position: -344px -161px;
    width: 22px;
    height: 22px;
}
span.socials-icon {
    background-position: -386px -295px;
    width: 85px;
    height: 62px;
}
span.clean-icon {
    background-position: -476px -356px;
    width: 75px;
    height: 59px;    
}
span.grouikplus-icon {
    background-position: -246px -356px;
    width: 70px;
    height: 59px;
}
span.grouikbook-icon {
    background-position: -316px -356px;
    width: 70px;
    height: 59px;
}
span.grouiker-icon {
    background-position: -386px -356px;
    width: 70px;
    height: 59px;
}
span.bcbook-icon {
    background-position: -407px 0;
    width:64px;
    height: 61px;
}
.inline-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;    
}
.social-icon {
    width: 24px;
    height: 24px;
}
span.comment-icon {background-position: -366px -161px;}
span.online-icon {background-position: -382px -161px;}
span.offline-icon {background-position: -397px -161px;}
span.pigstie-icon {background-position: -429px -161px;}
span.email-icon {background-position: -413px -161px;}
span.add-icon {background-position: -279px -161px;}
span.remove-icon { background-position: -295px -161px;}
span.photo-icon {background-position: -445px -161px;}
span.close-icon {background-position: -327px -161px;}
span.cancel-icon {background-position: -311px -161px;}
span.upload-icon {background-position: -525px -161px;}
span.next-icon { background-position: -510px -161px; }
span.previous-icon { background-position: -538px -161px; }
span.ok-icon { background-position: -476px -161px; }
span.edit-icon { background-position: -462px -161px; }
span.help-icon { background-position: -268px -177px; width: 22px; height: 22px; }
span.linkedin-icon { background-position: -599px 0; }
span.google-icon { background-position: -599px -24px; }
span.facebook-icon { background-position: -599px -48px; }
span.windows-icon { background-position: -599px -72px; }
span.twitter-icon { background-position: -599px -96px; }
span.yahoo-icon { background-position: -599px -120px; }
span.openid-icon { background-position: -599px -144px; }

span.smiley-worried { background-position: -247px -200px; }
span.smiley-wink { background-position: -263px -200px; }
span.smiley-uncertain { background-position: -279px -200px; }
span.smiley-tired { background-position: -295px -200px; }
span.smiley-surprise { background-position: -311px -200px; }
span.smiley-smirk { background-position: -327px -200px; }
span.smiley-smile-big { background-position: -343px -200px; }
span.smiley-smile { background-position: -359px -200px; }
span.smiley-sick { background-position: -375px -200px; }
span.smiley-sad { background-position: -391px -200px; }
span.smiley-raspberry { background-position: -407px -200px; }
span.smiley-plain { background-position: -423px -200px; }
span.smiley-pig { background-position: -439px -200px; }
span.smiley-ninja { background-position: -455px -200px; }
span.smiley-monkey { background-position: -471px -200px; }
span.smiley-laugh { background-position: -487px -200px; }
span.smiley-kiss { background-position: -503px -200px; }
span.smiley-glasses { background-position: -519px -200px; }
span.smiley-embarrassed { background-position: -535px -200px; }
span.smiley-devilish { background-position: -551px -200px; }
span.smiley-crying { background-position: -567px -200px; }
span.smiley-cool { background-position: -583px -200px; }
span.smiley-angry { background-position: -599px -200px; }
span.smiley-angel { background-position: -615px -200px; }

span.strawberry { background-position: -208px -393px; width: 15px; height: 16px; }
span.cuberdon   { background-position: -197px -393px; width: 11px; height: 16px; }

.icon-large { width: 96px;height: 96px;background: url(/staticfiles/images/sprites.png);}
.user-icon { background-position: -510px -218px; }
.teacher-icon { background-position: -342px -63px; }
.student-icon { background-position: -438px -63px; }
.county-icon { background-position: -246px -63px; }

.error {
    color: red;
    font-size: 120%;
    padding: 5px;
    border: 1px solid #FFA0F7;
    border-radius: 3px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255,255,255, 0.6);
    margin: 20px 0 20px 0;
    background: #ebbd67 url(/staticfiles/images/diagonal.png);
    font-weight: bold;
}
.button a, button, input[type=button], input[type=submit], input[type=reset], a.button {
    color: black;
    font-size: 110%;
    padding: 5px;
    border: 1px solid #ff77e8;
    border-radius: 4px;
    background: #FFCFF4 url(/staticfiles/images/diagonal.png);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
    cursor: pointer;
    margin-right: 5px;
    font-size: 12px;
}
.center { text-align: center; }
.large { font-size: 130%; line-height: 2em; }
.big { font-size: 130%; }
a.button {
    height: 100%;
    margin-right: 5px;
    display: inline-block;
}
.button, a.button {
    text-align: center;
}
div.button, a.button {
    margin-top: 10px;
}
input[type=text], input[type=password], input[type=search], textarea, input[type=email] {
    border: 1px solid #ff77e8;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 0 3px #ff77e8 inset;
}
button:active, input[type=button]:active, input[type=submit]:active, input[type=reset]:active,.button a:active, a.button:active {
    background-color: grey;
}
button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover,.button a:hover {
    border-color: #ff77e8;
}
button img {
    padding: 0 16px 0 0;
    margin: 0;
    vertical-align: middle;
}
#compatibility {
    position:fixed;
    height: 30px;
    background-color: red;
    width: 100%;
    top:0;
    left:0;
    box-shadow: 1px 1px 5px #000;
    font-size: 20px;
    color: #fff;
    padding: 5px;
}
#compatibility small {
    margin-right: 30px;
}
.button a {
    width: 50%;
}

.right {
    float: right;
    overflow: auto;
}
.align-right {
    text-align: right;
}
.left {
    float: left;
    overflow: auto;
}
.clear {
    clear: both;
}
.wait {
    background: url("/staticfiles/images/wait.gif") no-repeat center center;
    display: none;
    padding: 12px;
    width: 16px;
    margin: 0 auto;
}
.wait-left {
    background: url("/staticfiles/images/wait.gif") no-repeat left center;
    display: none;
    padding: 12px 0 12px 10px;
}
.spacer {
    margin-bottom: 10px;
    text-align: center;
}
.invisible { margin: 0; border: 0; padding: 0; display: none; opacity: 0; }

#menus {
    width: 1200px;
    margin: 0 auto;
    height: 67px;
    background: url("/staticfiles/images/sprites.png") no-repeat center center;
    background-position: -630px 0;
    border-radius: 5px;
    z-index: 100;
}
#menus ul, #footer ul {
    padding: 10px;
}
#menus ul {
    height: 100%;
    margin: 0 0 0 25px;
}
#menus ul li, #footer ul li  {
    list-style: none;
    float: left;
    margin-top: 5px;
}
#menus a, #footer ul a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    margin-right: 10px;
}
#menus li.lastmenu {
    float: right;
}
#menus li.lastmenu img {
    margin-top: -5px;
}
#header {
    height: 250px;
    background: #FFA7F0 url("/staticfiles/images/sprites.png") no-repeat center center;
    background-position: -630px -66px;
}
#header, #content, #footer {
    width: 1130px;
    margin: 0 auto;
    padding: 10px;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
}
#content, #footer {
    background-color: #ffcff4;    
}
#rightcontent {
    width: 770px;
    float: left;
}
.page-title {
    margin-top: 30px;
}
.information {
    padding: 10px;
    background: transparent url(/staticfiles/images/diagonal.png);
    border: 1px solid #ff77e8;
    border-radius: 4px;
    margin-bottom: 15px;
}

div.diapo {
    width: 170px;
    height: 255px;
    border: 1px solid #ff77e8;
    padding: 5px;
    float: left;
    margin: 5px 5px 0;
    border-radius: 3px;
    background-color: white;
}
div.diapo.disappeared {
    border: 1px solid green;
    background-color: #6edb6e;
}
div.diapo h4.disappeared {
    width: 100px;
    position: absolute;
    margin: 60px 0 0 60px;
    color: white;
    text-shadow: 1px 1px 0 #000;
}
div.pigsty {
    text-align: center;
}
div.pigsty-image {
    margin: 0 auto;
    height: 150px;
    width: 150px;
    overflow: hidden;
}
div.pigsty-image img {
    border-radius: 5px;
}
div.pigsty-footer {
    margin-top: 10px;
}
div.diapo span.fiche {
    float: left;
}
div.diapo div.pigsty-location {
    height: 60px;
    overflow: hidden;
}
img.avatar, img.smallavatar, img.avatar-large {
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}
img.avatar {
    width:48px;
    height:48px;
}
img.smallavatar {
    width:32px;
    height:32px;
    vertical-align: top;
    margin-right: 5px;
}
img.avatar-large { width: 64px; height:64px; vertical-align: top; margin-right: 5px;    border: 1px solid rgb(127,127,127);}
#lastpigsties footer div.button {
    float: right;
    margin-top: 10px;
}
#bandcochonbook {
    margin-top: 40px;
    width: 750px;
}
#bandcochonbook img.user-status-icon, #picture img.user-status-icon {
    vertical-align: middle;
    margin-bottom: 5px;
}
#bandcochonbook .book-item {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    border-radius: 5px 5px 0 0;
}
#bandcochonbook .book-item, #bandcochonbook .book-item-response {
    margin-bottom: 10px;
}
#bandcochonbook .book-header {
    padding: 5px;
    background: #ff77e8 url(/staticfiles/images/diagonal.png) repeat;
    border-radius: 5px 5px 0 0;
}
#bandcochonbook .book-header .book-name {
    float: left;
}
#bandcochonbook .book-header .book-like {
    float: right;
}
#bandcochonbook .book-user {
    width: 90px;
    float: left;
    font-size: 12px;
    padding-left: 5px;
}
#bandcochonbook .book-item-response .book-header {
    border-radius:0;
}
#bandcochonbook .book-content-container {
    margin-top: 5px;
}

#bandcochonbook .book-content {
    margin-left: 95px;
    line-height: 1.5em;
}
#bandcochonbook .book-response {
    margin-left: 95px;
    border-left: 1px solid #ff77e8;
    /*padding-left: 5px;*/
}
#bandcochonbook .ilike ,#bandcochonbook .dontlike {
    cursor: pointer;
}
#bandcochonbook textarea {
     /*height: 20px;width: 525px;*/border: 1px solid #ff77e8;
}
#bandcochonbook .button-container-response, #bandcochonbook .button-container {
    margin-top: 5px;
}
#bandcochonbook .book-send-newpost {
    margin: 0;
}
#bandcochonbook .like-list, #bandcochonbook .dislike-list {
    position: absolute;
    display: none;
    padding: 5px;
    margin-left: -50px;
    border: 1px solid #ff77e8;
    border-radius: 0 0 3px 3px;
    background-color: rgb(255,255,255);
}
#bandcochonbook .like-list-agreeiers, #bandcochonbook .dislike-list-agreeiers {
    margin: 4px 0 4px 0;
}
#bandcochonbook  .book-response-button {
    text-align: right;
    padding: 5px;
    margin-top: 10px;
}

#bandcochonbook .book-response-zone {
    display:none;
     padding: 5px;
     margin-left: 90px;
}
#bandcochonbook .book-wait-vote {
    padding: 12px;
}
#bandcochonbook button img {
    vertical-align: middle;
    padding: 0 5px 3px 0;
}
#bandcochonbook .book-smiley-list img { cursor: pointer; padding: 5px; }
#bandcochonbook .book-add-photo-form, #bandcochonbook .book-smiley-list {
    display: none;
    border:1px solid #ff77e8;
    padding: 5px;
    border-radius: 4px;
    background: transparent url("/staticfiles/images/diagonal.png");
    margin-top: 5px;
}
#bandcochonbook img.book-image { max-width: 500px; }
input.invert-background {
    background: #FFCFF4 url(/staticfiles/images/diagonal.png);
    background-image: none;
}
aside {
    float: right;
    width: 300px;
}
aside .right-block {
    background-color: #FFA7F0;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #ff77e8;
    margin-bottom: 10px;
}
aside #search {
    width: 80%;
}
aside .right-block .decale {
    float: left;
    margin: 0 10px 0 -50px;
}

aside .right-block-content {
    margin-left: 50px;
}
aside .right-block-list {
    margin-bottom: 20px;
}
aside .right-block-comment {
    margin-left: 35px;
}
aside span.commentcount {
    padding:10px 0 10px 20px;
    background: transparent url(/staticfiles/images/comment.png) no-repeat left;

}
aside .right-block .button {
    display: block;
    width: 50%;
    margin: 0 auto;
}
.plusdinfos {
    text-align: right;
}
.plusdinfos a {
    color: blue;
}
.followme {
    text-align: center;
}
#footer {
    background: #ff77e8 url(/staticfiles/images/diagonal.png) repeat;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.5);
    border-radius: 0 0 10px 10px;
}
.separator {
    text-align: center;
}

section#message {
    text-align: center;
    font-size: 22px;
    text-shadow: 1px 1px 0 #FFF;
    font-weight: bold;
}
section#actually {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 0 #FFF;
}
#actually-cleaned, #actually-uncleaned {
    font-size: 1.5em;
}
#actually-cleaned {
    color: green;
}
#actually-uncleaned {
    color: red;
}
section#map #mainmap, #photomap, #maptown {
    width: 650px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000;
    background: transparent url(/staticfiles/images/loadingmap.jpg) no-repeat 0 0;
}
#end-porch {
    position: absolute;
    top: 0;
    left: 0;
    background: url(/staticfiles/images/sprites.png) no-repeat;
    background-position: 0 0;
    width: 246px;
    height: 249px;
}
#end-porch a { display: block; width: 100%; height: 100%;}
#online-hunters, #online-visitors, #visitor-flags {
    margin-left: 10px;
    margin-bottom: 20px;
}
#online-hunters img {
    margin-bottom: 5px;
}

#opaque {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    background: url('/staticfiles/images/obscure.png');
    z-index: 1000;
}
#message-dialog, #add-picture-dialog, .dialog {
    position:absolute;
    display: none;
    background-color: #ff77e8;
    width: 500px;
    z-index: 1001;
    box-shadow: 2px 2px 10px white, -2px -2px 10px white;
}
.dialog header {
    background: transparent url(/staticfiles/images/diagonal.png);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
.dialog footer {
    text-align: right;
    padding: 10px;
}
.dialog article {
    padding: 10px;
}
.dialog form label {
    width: 100px;
}
.dialog form input[type=text], .dialog form textarea {
    width: 365px;
}
.dialog form textarea {
    height: 300px;
}

#message-dialog input[type=text], #message-dialog textarea {
    width: 95%;
    padding: 4px;
    border: 1px solid #ff77e8;
}
#message-dialog textarea {
    height: 200px;
}
#message-dialog #dialog-info {
    text-align: center;
    font-weight: bold;
    color: red;
}
#text-container {
    /*background-color: #fac566;*/
    padding: 0 10px 10px 10px;
    margin: 0;
}
#text-container h1 {
    margin: 0 0 10px 0;
}
#download-data { text-align: center;  }
#download-data img { vertical-align: middle; }

#login-page form, #forgotten form {
    margin-left: 50px;
}
form div.row, form p  {
    margin-top: 5px;
}
#login-page form input[type=text], #login-page form input[type=password]{
    width: 250px;
}

#login-page form label, #account-container form label, #pictures div.row label, #forgotten div.row label, form p label {
    display: block;
    float: left;
    width: 180px;
    padding-top: 5px;
}
#login-list #login-buttons {
    margin: 1em auto;
    text-align: center;
    width: 300px;
}
#login-page #login-create { text-align: center; padding: 10px; }
#book-next { width: 100%; }
#pending-messages {
    font-weight: bold;
    text-shadow: none;
    color: #fff;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    border: 1px solid white;
    background-color: #eb0000;
    position: absolute;
    margin: -30px 0 0 -20px;
    box-shadow: 0px 0px 4px #fff;
}
.large-button {
    margin: 0 5px 5px 0;
    height: 115px;
    width: 105px;
    border: 1px solid #ff77e8;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    background: transparent url(/staticfiles/images/diagonal.png);
    overflow: hidden;
}
.large-button:active {
    background-color: #ff77e8;
}
.large-button-icon {
    text-align: center;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    padding-bottom:  10px
}
.large-button-caption {
    text-align: center;    
}
.large-button-active {
    background-color: #ff77e8;
}
#account-toolbar .large-button {
    height: 90px;
}
#createaccount-toolbar {
    width: 490px;
    margin: 0 auto;
}
#createaccount-container .createaccount-form, #contact{
    margin-left: 50px;
}
#createaccount-container .createaccount-laius {
    font-size: 120%; margin: 20px 0 20px 0;font-weight: bold;
}
#createaccount-container form label {
    float: left;
    display: block;
    width: 200px;
}
#createaccount-container form input[type=text], #createaccount-container form input[type=password], form#contact p input[type=text], form input[type=email]  {
    width: 300px;
}
#createaccount-container form input[type=checkbox] {
    
}
p.nofloat input {
    margin: 0 10px 0 180px;
    vertical-align: middle;
    
}
p.nofloat label, label.nofloat {
    float: none;
    display: inline-block;
}
.form-error {
    /*border-color: red;*/
    /*box-shadow: 0 0 3px red inset;*/
    /*padding: 10px;*/
    color: red;
    font-weight: bold;
}
.form-error input {
    border-color: red;
}
ul.errorlist li {
    list-style: none;
    color: red;
    font-weight: bold;
    margin: 0;
    display: inline;
    padding:0;
}
url.errorlist {
    display: inline;    
}
.helpme {
    vertical-align: middle;
    cursor: pointer;
}
.helptip {
    border: 1px solid black;
    padding: 5px 5px 5px 16px;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 1px 1px 0px #aeaeaea inset;
}
#picture img.reduced-image {
    max-width: 700px;
}
#picture img.reduced-image,#picture img.related-image {
    border-radius: 10px;
    box-shadow: 2px 2px 5px #000;
}
#picture img.related-image {
    margin-right: 10px;
}
#picture .large, #picture article {
    margin-left: 50px;
}
#picture img.avatar {
    vertical-align: middle;
    margin-right: 10px;
}
#picture #status {
    padding: 5px;
}
#picture img.related-image {
    max-width: 150px;
}
#wait-pict {
    font-size: 14px;
    padding: 10px;
    text-align:center;
    opacity: 0;
}
#picture #wait-pict .wait {
    display: inline;
}
.picture-disappeared {
    text-align: center;
    background: #6edb6e url(/staticfiles/images/diagonal.png);
    border: 1px solid green;
    border-radius: 4px;
    font-size: 200%;
    padding: 5px 0 5px 0;
    text-shadow: 1px 1px 0 #ccc;
}

.large.pending {
    border: 1px solid #ff77e8;
    padding: 5px;
    background: transparent url(/staticfiles/images/diagonal.png);
    border-radius: 5px;
}
#picture button img.next {
    padding: 0 0 0 16px;
    vertical-align: middle;
}
#county-rank {
    margin-left: 30px;
}
.highlight-search {
    font-weight: bold;
    background-color: yellow;
}
#poll-message { display: none; text-align: center; color: red;}
.poll-result { margin:5px 0 0 30px; }
#saletes-list { overflow: auto; }
.blog_post {
    font-size: 130%;
    line-height: 150%;
    text-align: justify;
}
.tooltip-large {
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    background: transparent url(/staticfiles/images/obscure.png);
    color: white;
    margin-bottom: 10px;
}
#message-panel {
    font-size: 14px;
    padding:5px;
    font-weight: bold;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 30px;
    background: url(/staticfiles/images/obscure.png);
}
#message-panel .sync {
    color: white;
}
#message-panel .err {
    color: red;
}
#message-panel .success {
    color: #0F0;
}

#message-panel img  {
    vertical-align: middle;
    padding-right: 10px;
}
